/*=============================
	       FOOTER
=============================*/

.x-colophon.top {
    background-color: $pink !important;
    padding: 45px 0 !important;    
    
    //Widget Titles
    .widget h4.h-widget {
        background-color: transparent !important;
        padding: 0 !important;
        font-size: 105.6% !important;
    }
    
    
    //Links
    a {
        color: white;
        
        &:hover {
            color: rgba(255,255,255,0.5) !important;
        } 
    }
    
    
    .post-date,
    .textwidget {
        color: white;
    }
    
    
    //Widget Social Icons
    .textwidget {
        
        > .x-container.width {
            margin: 0;
            
            > a {
                margin-right: 15%;
                text-decoration: none;
                
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}