/*========================
	NAVIGATION
=========================*/

.x-navbar .desktop .x-nav > li > a {
    height: 78px !important;
    
    &:hover {
        box-shadow: 0 4px 0 0 $mint !important;
    }
}

.x-navbar .desktop .x-nav > .current-menu-item > a {
    box-shadow: 0 4px 0 0 $mint !important;
}