/*=============================
	   BLOG FEEDS
=============================*/

.blog,
.search,
.archive {
	
	//Articles
	//========================
	
	//First posts
	article:first-of-type {
		border-top: none !important;
		padding-top: 0 !important;
	}
	
	
	//Last posts
	article:last-of-type {
		border-bottom: none !important;
	}

	
	//Hiding categories on blog feeds
	.p-meta > span:first-of-type {
		display: none;
	}
	
	
	//Hiding search header/title on search page
	.x-header-landmark {
		padding: 0 !important;
		
		> .h-landmark {
			display: none;		
		}
	}
}



.blog,
.single-post,
.search,
.archive {
    
    
    //Titles
    .entry-title {
        font-size: 120%;
        line-height: 1.2;
        
        @include media(380px) {
            font-size: 100% !important;
        }
    }
    
    
    //Meta data
    .p-meta {
        font-size: 14px;
        letter-spacing: 1px;
    }
    
    
    //Post Excerpt
    .entry-content {
        font-size: 16px !important;
        line-height: 1.5;
    } 
}




//Main Content - Left Column
//============================
.blog,
.single-post,
.search,
.archive {
	
	.x-main {
	    width: 65.33332% !important;
	    
	    //1024px
        @include responsive(xl-tablet) {
            width: 100% !important;
            float: none;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }   
	
}




//PAGINATION
//=========================
.x-pagination {
    
    a:hover {
        background-color: $mint !important;
    }
    
    
    //Active page
    span.current {
        background-color: $mint !important;
    }
    
}