/*=============================
	   POST GALLERY
=============================*/


//Latest Blog Post on Homepage
#grid-63 {
    
    //Homepage categories
    .tg-cats-holder {
        display: none;
    }
    
}



article {
    
    .tg-item-date,
    .tg-cats-holder,
    .tg-item-term {
        color: $pink !important;
    }
    
  
    
    //Post Summary
    .tg-item-content-holder {
        text-align: left;
        
        //Title and read more links
        .tg-item-title a,
        .tg-item-read-more a {
            
            &:hover {
                color: $mint;
            } 
        }
        
        
        //Excerpt
        > p.tg-item-excerpt {
            font-size: 15px !important;
            line-height: 22px;
        }
        
        
        //Hiding author and number of comments
        > .tg-item-footer {
            display: none !important;
        }
        
    }
}




//BLOG PAGE
//=========================
.blog,
.search,
.archive {
	
	
	article:first-of-type {
		border-top: none !important;
		padding-top: 0 !important;
	}
	
	article:last-of-type {
		border-bottom: none !important;
	}

	
	.p-meta > span:first-of-type {
		display: none;
	}
	
	
	//Search header/title on search page
	.x-header-landmark {
		padding: 0 !important;
		
		> .h-landmark {
			display: none;		
		}
	}
	
	
}



.blog,
.single-post,
.search,
.archive {
    
    .entry-title {
        font-size: 130%;
        line-height: 1.5;
        
        @include media(380px) {
            font-size: 100% !important;
        }
    }
    
    
    .p-meta {
        font-size: 14px;
        letter-spacing: 1px;
    }
    
    .entry-content {
        font-size: 16px !important;
        line-height: 1.5;
    }
    
    
    
    .x-main {
	    width: 65.33332%;
    }
    
    
    .x-sidebar {
	    width: 30.66666%;
	    
	    //880px
        @include responsive(m-tablet) {
            @include center;
            width: 70%;
            float: none;
        }
        
        
        //600px
        @include responsive(l-phone) {
            width: 100%;
        }
	    
	    &.right {
		    padding-left: 0;
	    }
    }
}




//Welcome World Post
#post-1 {
    
    //Change meta text to pink
    .featured-meta {
        color: $pink;
    }
    
    
    //Remove view post button
    .featured-view {
        display: none !important;
    }
}





//PAGINATION
//=========================
.x-pagination {
    
    a {
        
        &:hover {
            background-color: $mint !important;
        }
    }
    
    
    //Active page
    span {
        
        &.current {
            background-color: $mint !important;
        }
    }
    
}

