/*===========================
	   SINGLE POSTS
============================*/

.single-post {
	
	//Featured Image
	//====================
	.x-main.left .hentry .entry-featured {
	    margin-top: 0 !important;
	    
	    > .entry-thumb img {
	        width: 100%;
	        height: auto;
	    }
	}
	

	
	//Title
	//========================
	h1.entry-title {
	    font-size: 160% !important;
	    line-height: 1.1 !important;
	    
	    @include media(1030px) {
	        font-size: 130% !important;
	    }
	
	}
	
}




//Welcome World Post
//=====================================
.blog #post-1 {
    
    //Change meta text to pink
    .featured-meta {
        color: $pink;
    }
    
    
    //Remove view post button
    .featured-view {
        display: none !important;
    }
}





//Article Nav
//=================================
.x-nav-articles {
	
	//767px
    @include responsive(x-tablet) {
        display: block !important;
        float: none;
        margin-left: 0 !important;
        margin-bottom: 25px;
    }
	
	
	> a {
	    border-color: $mint !important;
	    
	    &:hover {
	        background-color: $mint !important;
	        
	        > i {
	            color: white;
	        }
	    }
	    
	    > i {
	        color: $mint;
	    }
	}
}




//Social Share Icons
//=================================
.x-entry-share {
	margin: 45px 0 0 0 !important;
	
	.x-share {
		border-radius: 0 !important;
		color: $pink;
		background-color: transparent;
		
		&:hover {
			background-color: $mint;
		}
		
	}
}







//Comments
//========================
#comments {
    
    //Comments
    .h-comments-title > span {
        font-size: 80% !important;
    }
    
    
    //Leave a comment
    #reply-title > span {
        font-size: 60% !important;
    }
    
    
    //Submit Commet Button
    #entry-comment-submit {
	    width: 30%;
        padding: 16px 30px !important;
        
        &:hover {
            background-color: $mint !important;
        }
        
        //600px
	    @include responsive(l-phone) {
	        width: 100%;
	    }
    }
    
    
    // Time
    time {
        font-size: 12px;
        letter-spacing: 1px;
    }
    
    //Author name
    .x-comment-author {
        font-size: 16px;
        letter-spacing: 1px;
    }
    
    
    //Comments
    .x-comment-content {
        line-height: 1.4;
    }
}