/*===========================
	   SINGLE POSTS
============================*/

.single-post .x-main.left .hentry .entry-featured {
    margin-top: 0 !important;
    
    > .entry-thumb img {
        width: 100%;
        height: auto;
    }
}