/*========================
	 GREY HEADER TITLES
=========================*/


//Header  text with grey background
//========================================
.grey-header {	
	
	background-color: $l-grey;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 15px 30px !important;
    
    
    //1200px
    @include responsive(s-laptop) {
        font-size: 140.4% !important;
    }
    
    @include media(530px) {
	    font-size: 120% !important;
	    padding: 15px !important;
	}
    
    
    //480px
    @include responsive(phone) {
        letter-spacing: 0 !important;
        font-size: 100% !important;
    }
    
}