/*====================================
GLOBAL FONTS - ADDED GOOGLE FONTS
====================================*/

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://allfont.net/allfont.css?fonts=montserrat-hairline);

$font-pt: 'PT Serif', serif;
$font-mont: 'Montserrat', sans-serif;
$font-mont-thin: 'Montserrat Hairline', sans-serif;
