/*========================
	  HOMEPAGE
=========================*/

#latest-posts {
    
    h1 {
        background-color: $l-grey;
        margin-bottom: 0 !important;
        padding: 15px 30px !important;
    }
}



#page-sidebar {
    //background-color: $l-grey !important;
}



.x-author-box {
    border: none;
    background-color: $l-grey;
    
    p:first-of-type {
        width: 100%;
        text-align: center;
        margin-bottom: em(8) !important;
        
        .avatar {
            float: none;
            border-radius: 50%;
            width: 50%;
        }
    }
    
    
    .x-author-info {
        margin-left: 0;
        
        .h-author {
            font-size: 18px;
            text-align: center;
        }
    }
        
        
}