/*========================
	UNIVERSAL - SITE
=========================*/
body {
	font-family: 'PT Serif', serif !important;
	font-weight: lighter !important;
	font-style: italic !important;
}


.site {
    background-color: white !important;
}