/*========================
	UNIVERSAL - FONTS
=========================*/


// H1
//========================
h1 {
    font-size: 300% !important;
	margin-top: 0 !important;
}


//H3
//========================
h3 {
    font-size: 160% !important;
}





// X-TEXT
//========================

.x-text {
	
	h1,h2,h3 {
		line-height: 1.2;
		
		//480px
	    @include responsive(phone) {
	        letter-spacing: 0 !important;
	        font-size: 110% !important;
	    }
	}
	
	
	h4,h5,h6 {
		line-height: 1.2;
		
		//480px
	    @include responsive(phone) {
	        letter-spacing: 0 !important;
	        font-size: 100% !important;
	    }
	}
}